@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

/* dark 2 */
.text-gray{
    color: #424242;
}
/* dark 3 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 14px 17px;
    font-weight: 600;
    font-size: 0.88rem;
    border-radius: 5px;
    border: none;
}

main{
    max-width: 1022px;
    margin: 0px auto;
}

main > section{
    margin-top: 110px;
}

.section-title{
    font-size: 1.9rem;
    font-weight: 700;
}
/* header styles */


/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: bold;
    font-size: 1.9rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1022px;
    margin: 0 auto;
}

/* banner styles */
.banner-content{
    max-width: 612px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
}

.banner-title{
    font-weight: 700;
    font-size: 2.84rem;
}

.banner-description{
    font-size: 0.8rem;
}
.banner-img{
    width: 100%;
}

/* team and future styles */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
}

.our-features{
    margin-left: 51px;
    max-width: 381px;
}


#part-1{
    font-weight: 500;
}

/* fact styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 170px;
    height: 170px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number{
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 3px;
}
.fact-name{
    font-size: 0.88rem;
    margin-top: 7px;
}

.fact-description{
    width: 400px;
}

/* sponsor styles */
.sponsor-info{
    max-width: 383px;
    margin: 35px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}


/* responsive media query */

@media screen and (max-width:576px) {
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }

    .team-img-container,
     .facts-container,
     .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container{
        justify-items: center;
        gap: 17px;
    }

    .sponsor-companies{
        justify-items: center;
        gap: 30px;
    }
    .our-features{
        margin-left: 20px;
    }

}



/* media size device responsive */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px;
    }

    .sponsor-companies, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }
    
}